<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leave It To Me Cleaning</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <nav class="intro">
        <a href="/">Leave It To Me</a>
        <a href="#"><a href="/services">Services</a></a>
        <a href="#"><a href="/about">About Us</a></a>
      </nav>
    <main>
      {% block body %}
      {% endblock %}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  

</body>

</html>