{% extends "layout/main.html" %}

{% block body %}
<div>
  <h2>Services</h2>
  <section class="banner-image"></section>
  <div class="row">
    <div class="column">
      <div class="card"><img src="{{url_for('static', filename='standard.jpg')}}" alt="standard clean">
        <div>Standard Cleaning</div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">Deep Clean</div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">Carpet Cleaning</div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">Commerical Cleaning</div>
        </div>
      </div>

    </div>

    {% endblock %}

  